/* if we need ... in our jsx  */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }



  .custom-title {
    font-family:  Georgia, serif;  
    font-size: 2rem; /* Adjust the font size as needed */
    font-style: italic;
    font-weight: 200;
    color: #74331cb4; /* Replace with the desired color (orange in this case) */
    margin-top: 35%;
    margin-bottom: 30%;
  }

  .TitleAbout{
  font-family: cursive;
  color: #74331cb4;
 
}

.OKAbout{
  margin-right: 5%;
}